
header {
    height: 100vh;
    padding-top: 3rem;
    overflow: hidden;
    margin-top: 5px;
    width: 150;

}

.header__container {
    text-align: center;
    height: 100%;
    line-height: 4rem;
    position: relative;
} 

@keyframes typing {
    from { width: 0 }
  }
  
@keyframes caret{
    50%{border-color: transparent;}
}
.header__container h1{
    border-right: .05em solid;
    margin: 0 auto;
    width: 10em;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 3s steps(10),
    caret 1s steps(1) infinite;;
}





/* =============== CV Download Button ================== */
.cta {
   margin-top: 2.5rem;
   display: flex;
   gap:2rem;
   justify-content: center;

} 
/* ============= Social Media Link Icon =============== */
.header_social {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
    width: 100px;
}
.header_social a {
    transform: scale(1.8);
    margin-bottom: 10px;
}
.header_social::after {
    content: '';
    width: 3px;
    height: 2rem;
    background: var(--color-primary);
} 
/* ============= profolio photo ============== */
.me {
    background: var(--color-primary);
    width: 20rem;
    height: 25rem;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden; 
    position: absolute; 
} 

.scroll_down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

/* ================= MEDIA QUERIES (medium device)===================== */
@media screen and (max-width: 1024px) {
    header {
        height: 68vh;
    }
}

/* ================= MEDIA QUERIES (small device)===================== */
@media screen and (max-width: 720px) {
    
    header {
        margin-top: 0.5px;
        padding: 20px;
        height: 60vh;
    }
 
    .header__container {
        
        width: 100%;
       
    }

    .me {
       display: none;
    }
    
    

    .header_social,
    .scroll_down{
        display: none;
    }

    .header__container .btn{
        width: 100px;
        height: 100%;
        gap: 2px
    }
    .cta {
        margin-top: 2.5rem;
        display: flex;
        gap:1rem;
        justify-content: center;
     
     } 



}