footer {
    background: var(--color-bg);
    margin-top: 5%;
    padding: 0;
    text-align: center;
    font-size: 1rem;
    margin-bottom: 5%;
};

footer a {
    color: var(--color-primary);
}

.footer__logo {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 0.3rem;
    display: block;
    border-bottom: 2px dashed var(--color-primary);
    width: 30%;
    margin: 0 auto;
    margin-top: 5%;
    padding-top: 2%;
}

.footer__socials{
    width: 100%;
}

.footer__socials a{
    margin: 0 auto;
    gap: 5%;
    width: 25%;
    height: 25%;
    margin-bottom: 0;
}

.footer__socials svg{
    height: 3%;
    width: 3%;
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 0;
}

.permalinks{
    font-size: 1.5rem;
    width: 15%;
    margin: 0 auto;
    padding-top: 0;
   
}

/* ===========Media (Medium Device) =========== */

@media screen and (max-width: 1024px){
footer {
    margin-top: 3%;
    padding: 0;

}
.footer__socials svg{
    height: 7%;
    width: 7%;
    margin-top: 3%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 0;
}

.footer__logo{
    width: 30%;
    font-size: 250%;
    line-height: 120%;
    margin-bottom: 2%;
}
.permalinks{
    margin-top: 3%;
    width: 30%;
    line-height: 200%;
}
}

/* ===========Media (Medium Device) =========== */

@media screen and (max-width: 720px){
    footer{
        font-size: 1rem;
    }

    .footer__logo{
        width: 50%;
        font-size: 1.2rem;
        line-height: 4rem;
    }

    .permalinks{
        font-size: 1rem;
        margin-top: 0.7rem;
        width: 30%;
        line-height: 2.5rem;
    }

    small{
        margin-top: 4rem;
        font-size: 30%;
    }
}