@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Kanit:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Noto+Serif+TC&family=Nunito:ital,wght@0,600;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

}

:root {
    --color-bg: #C8C8C8;
    --color-bg-variant: #07253a;
    --color-primary: #4c837a;
    --color-primary-variant: rgba(146, 168, 183, 0.4);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.6);

    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;

    --transition: 300ms linear all;

}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Kanit', sans-serif;
    background:
        linear-gradient(90deg, rgba(50, 50, 50, 0.1) 3%, transparent 0),
        linear-gradient(rgba(50, 50, 50, 0.1) 3%, transparent 0);
    background-size: 20px 20px;
    overflow-x: hidden;


    color: var(--color-white);
    line-height: 3rem;
    margin: 0;
    padding: 0;
}

/*============== GENERAL STYLES ====================*/
.container {
    width: var(--container-width-lg);
    margin: 0 auto;
    background-color: #07253a;
    border-radius: 2rem;

}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 500;
}

h2 {
    font-size: 40px;
}

h5 {
    font-size: 20px;
}

h1 {
    font-size: 50px;
}

section {
    margin-top: 10%;

}

section>h2,
section>h5 {
    text-align: center;
    color: var(--color-bg-variant);
}

section>h2 {
    color: var(--color-primary);
    margin-bottom: 3rem;
}

.text-light {
    color: var(--color-light);
}

a {
    color: var(--color-primary);
    transition: var(--transition);
    margin-top: 3%;
    width: fit-content;
}

a:hover {
    color: var(--color-white)
}

.btn {
    width: max-content;
    display: inline-block;
    color: var(--color-primary);
    padding: 0% 5%;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
    font-family: 'Kanit', sans-serif;
    font-size: 100%;

}



.btn:hover {
    background: var(--color-white);
    color: var(--color-bg);
    border-color: transparent;

}

.btn-primary {
    background: var(--color-primary);
    color: var(--color-bg);
    padding: 0;
    width: max-content;
    padding: 0% 5%;
}



img {
    display: block;
    width: 100%;
    object-fit: cover;
}

/* ================= MEDIA QUERIES ===================== */

@media screen and (max-width: 1024px) {

    body {
        overflow-x: hidden;
        padding-right: 0px;
        margin: 0;
        display: flex;
        justify-content: center;
    }

    .container {
        width: 90%;
    }

    section {
        margin-top: 50px;
    }
    .btn{
        font-size: 20%;
    }


    /* ================= MEDIA QUERIES (SMALL DEVICE)===================== */

    @media screen and (max-width: 720px) {

        .container {
            width: var(--container-width-sm);
        }

        .btn {
            display: flex;
            margin-top: 0;
            justify-content: center;
            align-items: center;
            font-size: 20%;
        }

        section {
            margin-top: 5px;
        }

        h2 {
            font-size: 25px;
        }

        h5 {
            font-size: 15px;
        }

        h1 {
            font-size: 30px;
            justify-content: center;
        }

        section>h2 {
            margin-bottom: 10px;
        }


    }

}

/* *{
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
} */